body{
  transition: background-image 0.5s;
  color: rgb(0, 0, 0);
  font-weight: bold;
  background: linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5)), url('./imgs/fundo-escuro.svg') center center/cover no-repeat;
  height: 100vh;

}

#cabecalho{
  color: white;
}

.error {
  color: red;
  font-size: 12px;
}

.dark-background {
  background-color: #333;
}

.dark-color{
  color: #333;
}

.tema{
  height: 38px;
  width: 38px;
  border-radius: 5px;
  background-color: rgb(26 32 59);
  border: 1px solid rgb(187, 187, 187);
}

#checkboxNoLabel{
  border: 1px solid grey;
  width: 30px;
  height: 30px;
}

.form-check-input:checked{
  background-color: #148519;
  border-color: #107025;
} 